body{
  background-color: rgb(223, 223, 203);
}

.homepage-title{
  display: flex;
  justify-content: center;
}

h1{
    text-align: center;
    /* border: solid white; */
    border-radius: 15px;
    background-color: rgb(232, 232, 225);
    padding: 10px;
    color: #3e3e3e;
}

.parent-container{
  display: flex;
  justify-items: space-between;
}

.parent-container span{
  font-size: 50px;
  text-align:left;
}

.parent-container h3{
  font-size: 25px; 
}

.homepageImg{
  width: 50%;
  border: solid rgb(255, 255, 255);
  padding: 5px;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.78);
  border-radius: 15px;
  /* background-color: white; */
}

.homecontainer {
  text-align: center;
  align-content: center;
}

.homecontainer h3{
  text-align: left;
  margin-left: 100px
}

button a {
  text-decoration: none;

}

.button-create button {
  background-color:rgba(169, 160, 160, 0.959);
  padding: 15px;
  border-radius: 5px;
}
.button-create a {
  background-color:rgba(169, 160, 160, 0.959);
  color: black
}
















@media only screen and (max-width: 600px) {
.homepageImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
}