 *{
    background-color: rgb(190, 190, 190);
   
}

.homepageImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border: solid rgb(255, 255, 255);
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1{
    text-align: center;
    border: solid white;
    background-color: white;
    
}

@media only screen and (max-width: 600px) {
.homepageImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
}