{%load static%}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authors</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      
      
      {% if user.is_authenticated %}
      Welcome, {{user.username}} | 
      <a href="{% url 'Home' %}">Home</a> |
      <a href="{% url 'place_create' %}">Add Your Tour</a> |
      <a href="{% url 'place_list' %}">Places list</a>  
      <form action="/auth/logout/" method="post">
        {% csrf_token %}
        <button>Logout</button>
      </form>
      
      {% else %}
      <a href="{% url 'SignUp' %}">Sign Up</a> |
      <a href="/auth/login/">Log In</a>
      <a href="{% url 'Home' %}">Home</a> |
      <a href="{% url 'place_list' %}">Places list</a>  
      
      {% endif %}
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>