{% extends "base.html" %}
{% load static %}
{% block content %}
{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}" />

{% endblock head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="signup">
    <h1>Sign up</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        {% comment %} <label for="username">Username:</label>
        <input name='username' id='username' type="text">
        <label for="password"></label>
        <input name='password' id='password' type="password">  {% endcomment %}
        <button>Sign up</button>
    </form>
    </div>
</body>
</html>
{% endblock %}